{% extends 'orders/header.html' %}

{% block content %}
<div class="container-fluid" style="position: relative;top: 50%;transform: translateY(50%);">
  <div class="row justify-content-center">
    <h3>Horarios de atención</h3>
  </div>
  <div class="row justify-content-center">
    <p>Lunes a Jueves desde las 11 am hasta las 23 pm</p>
  </div>
  <div class="row justify-content-center">

    <p>Viernes y Sábados desde las 14 pm hasta las 02 am</p>

  </div>
  <div class="row justify-content-center">
    <p>Domingos Cerrados*</p>
  </div>
  <div class="row justify-content-center">
    <p>Ten en cuenta que los horarios de días festivos pueden cambiar</p>
  </div>
</div>

{% endblock %}